@use "rules";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@500;600;700&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rules.$lightblue;

  * {
    font-family: Manrope;
    overflow-x: hidden;
  }

  .bg-wrapper {
    background: url(./assets/bg-hero.svg);
    background-repeat: no-repeat;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.hero-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1000px;

  .section-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    .text-wrapper {
      display: flex;
      align-items: center;
      gap: 32px;

      .divider {
        width: 70px;
        height: 2px;
        background: rules.$orange;
      }

      p {
        color: rules.$orange;
      }
    }

    h2 {
      color: #fff;
      font-family: Manrope;
      font-size: 88px;
      font-style: normal;
      font-weight: 600;
      line-height: 100px;
      text-transform: capitalize;
    }
  }
}

section {
  padding: 100px;
  position: relative;

  .number-wrapper {
    position: absolute;
    top: 100px;
    left: 10%;
    overflow: hidden;
  }
}

.steps-section {
  width: 100%;
  background: rules.$lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;

  .steps-content {
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 115px;

    .image-wrapper {
      img {
        width: 560px;
        height: 720px;
      }
    }
  }
}

.content-section {
  .number-wrapper {
    position: absolute;
    top: 100px;
    left: 50%;
  }

  width: 100%;
  background: rules.$lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;

  .content {
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 245px;
  }
}

.last-section {
  width: 100%;
  background: rules.$lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;

  .last-content {
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 115px;
  }
}

@media (max-width: rules.$phone) {
  .hero-section {
    padding-left: 0;
    padding-top: 30px;

    .section-content {
      align-items: center;

      h2 {
        width: 300px;
        font-size: 30px;
        line-height: 50px;
      }
    }
  }

  .steps-section {
    margin: 0;
    padding: 0;

    .number-wrapper {
      display: none;
    }

    .steps-content {
      width: 150%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-top: 70px;

      h3 {
        font-size: 30px;
      }

      .image-wrapper {
        img {
          width: 450px;
          height: auto;
          object-fit: none;
        }
      }
    }
  }

  .content-section {
    margin: 0;
    padding: 0;

    .number-wrapper {
      display: none;
    }

    .content {
      width: 150%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 70px;
    }

    h3 {
      font-size: 30px;
    }

    .image-wrapper {
      img {
        width: 450px;
        height: auto;
        object-fit: none;
      }
    }
  }

  .last-section {
    margin: 0;
    padding: 0;

    .number-wrapper {
      display: none;
    }

    .last-content {
      width: 150%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-top: 20px;
      padding-bottom: 200px;

      h3 {
        font-size: 30px;
      }

      .image-wrapper {
        img {
          width: 450px;
          height: auto;
          object-fit: none;
        }
      }
    }
  }
}
